*
    box-sizing: border-box !important
    font-family: $lato !important
    text-decoration: none
html
    position: relative
    z-index: -1
input:focus, button:focus, a:focus
    outline: none
.container
    max-width: 1140px
    margin: 0 auto
    width: 92%
